.reports {
  .ant-card-body {
    > div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .report {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 50%;
        &_cover {
          font-size: 28px;
          margin-bottom: 5px;
        }
        &_title {
          font-size: 16px;
          margin-bottom: 15px;
        }
        &_comment {
          font-size: 13px;
          margin-bottom: 15px;
          color: gray;
        }
        .ant-form {
          width: 100%;
          .ant-input-number {
            margin-right: 0;
          }
        }
      }
    }
  }
}